/* Scrolly stuff */

/* Force scrolly sections to be the full width of the container-fluid ^ */
.scrolly-sections { width: 100% !important; }

/* Fix accessibility issue with scrolly contrast (increase gap between sections 
and prevent them fading in / out) */
.scrolly-section {
  margin-bottom: 0px;
  margin-top: 75vh;
  opacity: 1;
}

/* Tippy stuff */

.tippy {
  text-decoration: underline;
}

.tippy-content{
	background: #f0f4f5 none repeat scroll 0% 0%;
	text-align: left;
	font-size: 12pt;
}

.tippy-tooltip{
    color: #212b32;
    background-color: #f0f4f5 !important;
    border: 1px solid #425563;
    border-radius: 0;
}

.tippy-backdrop {
  background-color: #f0f4f5;
}

/* Tweak CSS for navpanel to make it sticky when scrolling page */
.col-sm-2 {
  position: -webkit-sticky; /* Safari */
  position:sticky;
  left:0;
  top:0;
}
@media (max-width:800px){
    .col-sm-2 {
      position:inherit;
}
}
